body {
  background-image: url("./boris-baldinger-6Ogl3xacOlM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  /* background-color: orange; */
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-rows: 200px 440px 200px;
  /* row-gap: 10px;
    column-gap: 20px; */
  gap: 5px 5px;
}
/*
  .item:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .item:nth-child(5) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  */
.container > div {
  /* background-color: green; */
}
