html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  height: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

h1 {
  margin: 0px;
}
